<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website settings - Install Page</title>
    <link rel="stylesheet" href="@dir/assets/css/frameworks/tailwind.css">
</head>
<body>


    <main class="flex flex-col gap-6 items-center bg-gray-100 justify-center py-4 px-4" style="width: 100%; height: 100vh;">
        
        <div class="flex items-center gap-6 bg-white shadow-md rounded-lg text-sm font-semibold py-2 px-2" style="width: 100%; max-width: 400px;">
            <span class="flex justify-center items-center bg-green-100 rounded-full w-12 h-12">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                  </svg>                      
            </span>
            Database has been conected!
        </div>

        <section class="bg-white rounded-md shadow-md text-sm text-gray-700 py-4 px-4" style="width: 100%;max-width:400px">
            
            <form action="" method="POST" class="flex flex-col gap-3">
                <label class="flex gap-3 justify-center mt-2 mb-2">
                    <span class="text-lg font-semibold text-gray-800">Website Settings</span>
                </label>
                <input type="text" class="@inputstyle" name="site_title" placeholder="Site name" required>
                <input type="text" class="@inputstyle" name="site_description" placeholder="Site description" required>
                <input type="text" class="@inputstyle" name="website_address" placeholder="Website Address (URL)" value="@siteaddress" >

                <label class="flex flex-col gap-3 bg-gray-100 w-full rounded-lg py-2 px-2 mt-2 mb-2">
                    <label class="flex text-lg font-semibold text-gray-800 justify-center">Admin account</label>
                    <input type="text" class="@inputstyle" required autocomplete="name" name="name" placeholder="Name">
                    <input type="email" class="@inputstyle" required autocomplete="email" name="email" placeholder="Email">
                    <input type="password" class="@inputstyle" required autocomplete="new-password" name="password" placeholder="Password">
                </label>
                
                <button class="@buttonstyle" type="submit">Submit</button>
            </form>
        </section>
    </main>
    
</body>
</html>